[Keyboard]
# 단어 후보 선택 시 추가 공백 넣기
# 가능한 값:
# True False
#CommitWithExtraSpace=False
# 변환 키 선택
# 가능한 값:
# None
# Alt
# Ctrl
# Shift
#ChooseModifier=Alt
# 단어 힌트 전환
#HotkeyToggleWordHint=CTRL_ALT_H
# 단어 힌트 발생 문자열 최소 길이
#MinimumHintLength=1
# 철자 힌트 리스트의 최고 길이
#MaximumHintLength=5
# 엔터를 사용하여 현재 문자열 입력
# 가능한 값:
# True False
#UseEnterToCommit=False
# 사용자 사전에 현재 입력 버퍼 추가
#HotkeyAddToUserDict=CTRL_ALT_N

